<div class="modal">
  <div class="modal__info">
    <div class="modal__info__user">
      <app-photo-user class="modal__info__user__photo"></app-photo-user>
      <div class="modal__info__user__text">
        <p>pseudo/nom</p>
        <p>info</p>
        <p>group</p>
      </div>
    </div>
    <button (click)="close()" appErrorClick>Fermer</button>
  </div>
</div>
