.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--beige-300);
    border-radius: 28px;
    &__user {
      display: flex;
      flex-direction: row;
      height: 50vh;
      &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vw;
      }
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
    button {
      font-size: 2em;
      margin-bottom: 2em;
    }
  }
}
