<div class="nav-header">
  <app-logo></app-logo>
  <div class="nav-header__logo-reseau">reseau</div>
  <div class="nav-header__profil">
    <div>profil</div>

    <div class="nav-header__profil__button">
      <button>ajouter/un groupe</button>
      <button>Invitation en attente</button>
    </div>
  </div>
</div>
<div class="nav-select">
  <div class="nav-select__group-button">
    <div class="nav-select__group-button__input">
      <input type="checkbox" name="friend" />
      <label for="friend">Mes Amis</label>
    </div>
    <div class="nav-select__group-button__input">
      <input type="checkbox" name="groups" />
      <label for="groups">Mes Groupes</label>
    </div>
    <div class="nav-select__group-button__input">
      <input type="checkbox" name="grAdmin" />
      <label for="grAdmin">Mes Groupes Admin</label>
    </div>
  </div>
  <div class="nav-select__input">
    <input placeholder="pseudo ou non" />
  </div>
</div>
