.nav {
  &-header,
  &-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  &-header {
    &__logo-reseau {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-pacifico);
      font-size: 7em;
    }
    &__profil {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;
      &__button {
        button {
          border: 1px solid var(--color-blue-main);
          margin-right: 2rem;
          padding: 0.5rem;
        }
      }
    }
  }
  &-select {
    &__group-button {
      display: flex;
      flex-direction: row;
      gap: 5em;
      padding: 3rem;
      &__input {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
      }
    }
    &__input {
      display: flex;
      margin: 2em;
      flex-direction: row;
      gap: 2em;
      input {
        text-align: center;
      }
    }
  }
}
