body {
  .bw {
    &-link {
      font-family: var(--font-inter);
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-decoration-line: underline;
      cursor: pointer;
      color: var(--color-blue-main);
    }

    &-title {
      display: inline;
      color: var(--color-blue-main);
      font-weight: 600;
      font-size: 32px;
      line-height: 43px;
      font-family: "Playfair Display", serif;
    }

    &-title-section {
      border-left: 3px solid var(--black);
      height: 41px;
      margin: 0 59px 0 69px;
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-row1,
      &-row2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        margin-left: 19px;
        padding-top: 5px;
      }

      &-row1 {
        line-height: 10px;
      }

      &-row2 {
        line-height: 24px;
      }
    }

    &-expand-panel {
      &.p-panel {
        border-radius: none;
        margin: 0 40px;

        .p-panel-header {
          padding: 18px 0 17px;
          border: none;
          background-color: var(--white);
          border-top: 1px solid var(--black);
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          font-family: var(--font-inter);
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
        }

        .p-panel-content {
          padding: 0;
          border: none;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          margin-bottom: 39px;
          border-bottom: 1px solid var(--color-blue-main);
        }
      }
    }

    &-button {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
