/* You can add global styles to this file, and also import other style files */

@use "scss/root";

@use "scss/shared/normalize";

@use "scss/shared/fontawesome";

@use "scss/shared/animation";

@use "scss/shared/design";

body {
  font-family: var(--font-Pacifico);
  font-size: 20px;
  font-weight: 400;
}
