.logo {
  background-color: var(--beige-300);
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  font-size: 5em;
  color: var(--orange-500);
  display: flex;
  justify-content: center;
  align-items: center;
}
